<%- include("templates/cabecera", {subtitulo: "¿Quienes somos?"} )%>
    <h1>Estamos en la vista quienes somos</h1>
    <h2><%= titulo %></h2>

    <p>Proyecto de escuelas infantiles, que apuesta por la unificación y la facilidad de comparar escuelas para poder saber donde matricular
        a nuestros peques.
    </p>
    
<%- include("templates/footer") %>